.resDrawer{
    width: 20vw;
}
#signout{
    width: 7vw;
    padding: 1vw;
    margin: 1vw;

}

#resprint, #resrp, #reslist, #list, #retsp, #grocery, #signout{
    width: 15vw;
    padding: 1vw;
    margin: 1vw;
    margin-left: 2vw;
}


#rightDrawer, #rightDrawer2{
    float: right;
    margin-top: 6vh;
    margin-right: 15vw;
}

#rightDrawer2{
    margin-top: 11vh;
}


