.Grocery{
    background-color:white;
    margin-top:0;
    padding-top:5vh;
    height: 95vh;
}

#groceryList{
    margin-left: 10vw;
    height: 70vh;
    overflow-x: hidden;
    /* overflow: scroll; */
    overflow-y: scroll;
    width: 80vw;
}

#deleteIcon{
    color: white;
}