.Restaurant{
    background-color: white;
    margin-top:0;
    padding-top:5vh;
    height: 95vh;
}

a.web{
    color: #ACA5BD;

}
#rightDrawer{
    color: white;
}
a.address{
    color: #CCA6A7;

}
#restitle, #rcptitle {
    background-color: #C68076;
    color: white;
    width: 75vw;
    height: 10vh;
    padding-top: 5vh;
    margin-top: 0;
    margin-left: 10vw;
    padding-left: 5vw;
}

#resbody{
    float:left;
    margin-left:10vw;
}

@media print{
    .resbuttons{
        display:none;
    }

    #restitle{
        height:auto;
    }
}

